# IDEs
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# Environments
venv/
.env

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# Local project folders
/data/*
diagrams/
plots/
poster/
talk/

# Include the LLM predicate workload in Git
!/data/llm_workload/
